@value bgDark: #f58867;
@value bgDark: #FA8E6E;
@value bgDark: #c45b41;
/* @value bgDark: #fac3bb; */
/* @value bgDark: #94B0C4; */
/* @value bgDark: #aacbe3; */

/* @value bgDark: #b9d9f0; */
/* @value bgDark: #b5d1e6; */
/* @value bgDark: #bac7d1; */
/* @value bgDark: #d5e1e6; */
@value bgDark: #d5e4e6;
/* @value bgDark: #c0e0ed; */

/* @value bgDark: #f2eae6; */

@value bgLight: #f5f5dc;
@value bgLight: #f2f2e4;

@value textblue: #251684;
@value highlight: #f58867;

@value linkFocus: #850002;
