@value tiniest, tiny, smallest, small, medium, large from "../styles/breakpoints.css";
@value colors: "../styles/colors.css";
@value bgOrange, lightyellow, textblue from colors;

/* ---- general ---- */
/*.indexSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

.paragraph {
  text-align: justify;
}

.flexRow {
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  /* flex-direction: column;
  align-items: center; */
}

.table,
.row,
.column {
  border: 1px solid textblue;
  border-collapse: collapse;
}

.column {
  padding: 1rem;
}

@media medium {
  .flexRow {
    flex-direction: column;
    align-items: center;
  }
}

@media tiny {
  .textContainer {
    padding: 2rem 4rem;
  }
}

/* ---- hero section ---- */
.hero {
  background-color: bgOrange;
}

.myNameWrap {
  margin-top: 5rem;
  width: 40%;
}

@media medium {
  .myNameWrap {
    width: 80%;
    top: -10px;
    left: -20px;
  }
}

@media small {
  .myNameWrap {
    margin-top: 0;
    width: 100%;
    top: -10px;
    left: -20px;
  }
}

/* ---- about section ---- */
.about {
  background-color: lightyellow;
}

.imAWrap {
  width: 100%;
}

/* ---- projects section ---- */
.projects {
  background-color: bgOrange;
}

.projectWrap {
  width: 70%;
  max-width: 1200px;
}

.projectInfo {
  padding: 2rem 4rem;
  width: 60%;
}

.table {
  width: 100%;
}

.firstCol {
  width: 30%;
}

.secondCol {
  width: 70%;
}

.buttonArea {
  display: flex;
}

.buttonWrap {
  margin: 2rem;
}

@media tiny {
  .projectWrap {
    width: 90%;
  }
}

/* ---- education section ---- */
.education {
  background-color: lightyellow;
}

.revealingTextWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
}

@media tiny {
}

/* ---- contact section ---- */
.contact {
  background-color: bgOrange;
}

.goodNowWrap {
  width: 50%;
  padding: 2rem;
}

.contactFormWrap {
  width: 50%;
  padding: 12rem 4rem 2rem 4rem;
}

@media medium {
  .goodNowWrap {
    width: 80%;
    padding: 2rem;
  }

  .contactFormWrap {
    width: 80%;
    padding: 4rem 4rem 2rem 4rem;
  }
}

@media smallest {
  .goodNowWrap {
    width: 100%;
    padding: 0;
  }

  .contactFormWrap {
    width: 100%;
    padding: 4rem 0 2rem 0;
  }
}
