@value tiniest, tiny, smallest, small, medium, large from "../styles/breakpoints.css";
@value colors: "../styles/colors.css";
@value bgOrange, lightyellow, textblue from colors;

/* ---- general ---- */
.paragraph {
  text-align: justify;
}

.flexRow {
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table,
.row,
.column {
  border: 1px solid textblue;
  border-collapse: collapse;
}

.column {
  padding: 1rem;
}

@media medium {
  .flexRow {
    flex-direction: column;
    align-items: center;
  }
}

/* ---- hero section ---- */
.hero {
  background-color: bgOrange;
  padding: 0;
  height: calc(100vh - 108px);
  min-height: 500px;
}

.myNameWrap {
  /*margin-top: 5rem;
  width: 40%;*/
  width: 60%;
  max-width: 600px;
  max-height: 100%;
}

@media medium {
  .myNameWrap {
    width: 80%;
    /*  top: -10px;
    left: -20px; */
  }
}

@media small {
  .myNameWrap {
    margin-top: 0;
    width: 100%;
  }
}

/* ---- about section ---- */
.about {
  background-color: lightyellow;
}

.imAWrap {
  width: 100%;
}

.skillRow {
  display: flex;
}

.skillLabel {
  vertical-align: top;
  min-width: 12rem;
}

.progressBarWrap {
  width: 200px;
}

@media tiny {
  .skillLabel {
    min-width: 10rem;
  }
}

@media tiniest {
  .skillRow {
    flex-direction: column;
  }

  .progressBarWrap {
    width: 100%;
  }
}

/* ---- projects section ---- */
.projects {
  background-color: bgOrange;
}

.projectWrap {
  width: 70%;
  max-width: 1200px;
}

.projectInfo {
  padding: 2rem 4rem;
  width: 60%;
}

.table {
  width: 100%;
}

.firstCol {
  width: 30%;
}

.secondCol {
  width: 70%;
}

.buttonArea {
  display: flex;
}

.buttonWrap {
  margin: 2rem;
}

.buttons {
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media smallest {
  .buttons {
    flex-direction: column;
    align-items: center;
  }
}

@media tiny {
  .projectWrap {
    width: 90%;
  }
}

/* ---- education section ---- */
.education {
  background-color: lightyellow;
}

.revealingTextWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
}

.columnNoBorder {
  vertical-align: top;
  min-width: 12rem;
}

@media tiny {
  .columnNoBorder {
    min-width: 10rem;
  }
}

@media tiniest {
  .columnNoBorder {
    min-width: 6rem;
  }
}

/* ---- contact section ---- */
.contact {
  background-color: bgOrange;
}

.goodNowWrap {
  width: 50%;
  max-width: 800px;
  padding: 2rem;
}

.contactFormWrap {
  width: 50%;
  max-width: 900px;
  padding: 0 4rem;
}

@media medium {
  .goodNowWrap {
    width: 80%;
    padding: 2rem;
  }

  .contactFormWrap {
    width: 80%;
    padding: 4rem 4rem 2rem 4rem;
  }
}

@media smallest {
  .goodNowWrap {
    width: 100%;
    padding: 0;
  }

  .contactFormWrap {
    width: 100%;
    padding: 4rem 0 2rem 0;
  }
}
