@value colors: "../styles/colors.css";
@value bgDark, bgLight, textblue, highlight, linkFocus from colors;
@value fontText from "../../static/fonts/fonts.css";

.fieldGroup {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

.formInput {
  display: block;
  width: 100%;

  background-color: bgLight;
  border: 2px solid textblue;
  padding: 0.5rem;
  resize: none;

  font-family: fontText;
  font-size: 1.6rem;
  color: textblue;
}

.formInput:focus {
  outline: bgDark auto 1px;
}

::placeholder {
  color: highlight;
}

.formInput--bgLight {
  background-color: bgLight;
}

.inputLabel {
  display: none;
}

.buttonRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonWrap {
  min-width: 10rem;
}

.errorMsg {
  color: linkFocus;
  font-size: 1.2rem;
}
