@value colors: "../styles/colors.css";
<<<<<<< HEAD
@value bgDark, bgLight, textblue, highlight, link from colors;
=======
@value bgDark, bgLight, textblue, highlight, linkFocus from colors;
>>>>>>> 57cffaec2043f390ba486d4a7317b4619acb8781
@value fontText from "../../static/fonts/fonts.css";

.fieldGroup {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

.noShow {
  display: none;
}

.formInput {
  display: block;
  width: 100%;

  background-color: bgLight;
  border: 2px solid textblue;
  padding: 0.5rem;
  resize: none;

  font-family: fontText;
  font-size: 1.6rem;
  color: textblue;
}

.formInput:focus {
  outline: bgDark auto 1px;
}

::placeholder {
  color: highlight;
  opacity: 1;
}

.formInput--bgLight {
  background-color: bgLight;
}

.inputLabel {
  display: none;
}

.buttonRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonWrap {
  min-width: 10rem;
}

.errorMsg {
<<<<<<< HEAD
  color: link;
=======
  color: linkFocus;
>>>>>>> 57cffaec2043f390ba486d4a7317b4619acb8781
  font-size: 1.2rem;
}
