@value tiniest, tiny, smallest, small, medium, large from "../styles/breakpoints.css";
@value colors: "../styles/colors.css";
@value textblue from colors;
@value fontAnimations from "../../static/fonts/fonts.css";

.container {
  width: 100%;
}

.pathText {
  font-family: fontAnimations;
  font-size: 5rem;
  letter-spacing: 2rem;
  fill: textblue;
}

@media small {
  .pathText {
    font-size: 6rem;
  }
}

@media smallest {
  .pathText {
    font-size: 8rem;
  }
}
