@value tiniest, tiny, small, medium, large from "../styles/breakpoints.css";
@value fontAnimations from "../../static/fonts/fonts.css";
@value colors: "../styles/colors.css";
@value bgLight, textblue, highlight from colors;

.container {
  padding: 2rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: textblue;
  color: bgLight;
}

.footerMenu {
  width: 60%;
}

.menuitems {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.menuitem {
  padding: 0 1rem;
}

.footerLink {
  color: bgLight;
}

.footerLink:hover {
  color: highlight;
}

@media small {
  .footerMenu {
    width: 80%;
  }
}

@media tiny {
  .container {
    justify-content: flex-start;
  }
}

/*@media tiniest {
  .footerMenu {
    width: 70%;
  }
}*/
