@value fontAnimations from "../../static/fonts/fonts.css";
@value colors: "../styles/colors.css";
@value bgOrange, lightyellow from colors;

.container {
  padding: 2rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightyellow;
}

.footerMenu {
  width: 60%;
}

.menuitems {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.menuitem {
  padding: 0 1rem;
}
