@value tiniest, tiny, smallest, small from "../styles/breakpoints.css";
@value fontAnimations from "../../static/fonts/fonts.css";
@value colors: "../styles/colors.css";
@value bgDark, textblue from colors;

.container {
  padding: 1rem 2rem 0 2rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: bgDark;
  position: relative;
}

.logo {
  width: 5rem;
  padding-top: 0.4rem;
  fill: textblue;
}

.menuitems {
  display: flex;
  font-family: fontAnimations;
  font-size: 2.2rem;
}

.menuitem {
  padding: 0 1rem;
  color: textblue;
}

.iconContainer {
  width: 3rem;
  height: 3rem;
  fill: textblue;
  display: none;
}

@media small {
  .iconContainer {
    width: 3rem;
    height: 3rem;
    fill: textblue;
    display: block;
  }

  .headerMenu {
    display: none;
  }
}

@media tiny {
  .container {
    padding: 1rem 2rem;
  }

  .logo {
    width: 4rem;
    padding-top: 1.4rem;
  }
}
