@value tiniest, tiny, smallest, small, medium, large from "../styles/breakpoints.css";
@value fontAnimations, fontText from "../../static/fonts/fonts.css";
@value colors: "../styles/colors.css";
@value lightyellow, textblue, linkFocus, highlight from colors;

/* ---- reset and base styles ---- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%; /*1 rem = 10px; 10px/16px = 62.5% */
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;

  font-family: fontText;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;

  background-color: lightyellow;
  color: textblue;
}

h1 {
  font-family: fontAnimations;
  font-size: 6rem;
  margin: 2rem 0;
}

h2 {
  margin-bottom: 2rem;
}

h3,
h4 {
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: textblue;
}

a:hover {
  color: highlight;
}

ul {
  list-style: none;
}

button {
  border: none;
}

section {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ---- wrapper & utility classes ---- */
:global(.textContainer) {
  width: 100%;
  max-width: 1200px;
  padding: 2rem 8rem;
}

@media tiny {
  :global(.textContainer) {
    padding: 2rem 4rem;
    font-size: 1.4rem;
  }
}
