@value colors: "../styles/colors.css";
@value bgLight, textblue from colors;

.scrollTopBtn {
  position: fixed;
  bottom: 1.4rem;
  right: 1.4rem;
  background-color: textblue;
  z-index: 93;
  cursor: pointer;
  width: 3rem;
  height: 4.2rem;
  border-radius: 3px;
  display: none;
}

.scrollTopBtn__active {
  display: flex;
  align-items: center;
}

.iconContainer {
  width: 4rem;
  height: 4rem;
  /*padding: 0.4rem;*/
  fill: bgLight;
}
